{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container-fluid row ui" id ="ui">
 <div class="col-md-9 col-sm-9 col-xs-12" id="map" ></div>


 <!-- Media -->
 <div class="control col-md-3 col-sm-3 col-sm-3 col-xs-12">
   <div class="pic" id="pic">
     <h4>Text Description</h4>
     <section id='section_pic'>
       <p>Dedan Kimathi University of Technology (or DeKUT) is a public, coeducational technological university in Nyeri, Kenya.
         It is located 6 km from Nyeri along the Nyeri – Mweiga highway. The college land spans about 1,000 acres (4.0 km2)
         consisting of 350 acres (1.4 km2) of natural forest,350 acres (1.4 km2) of mature coffee and 300 acres (1.2 km2) of open space for expansion.
         ports include rugby, football, hockey, basketball and volleyball teams. <a href="https://en.wikipedia.org/wiki/Dedan_Kimathi_University_of_Technology">Wikipedia</a>
       </p>
     </section>
   </div>

   <div class="vid container-fluid" id="vid">
     <h4>Multimedia Description</h4>
     <section id="section_vid">
       <div id="demo" class="carousel slide" data-ride="carousel">
                     <!-- Indicators -->
           <ul class="carousel-indicators">
             <li data-target="#demo" data-slide-to="0" class="active"></li>
             <li data-target="#demo" data-slide-to="1"></li>
             <li data-target="#demo" data-slide-to="2"></li>
           </ul>

           <!-- The slideshow -->
           <div class="carousel-inner">
             <div class="carousel-item active">
               <img src="{% static 'images/Kimathi.jpg' %}" alt="Los Angeles">
             </div>
             <div class="carousel-item">
               <img src="{% static 'images/gallery-hotel-drawing.jpg' %}" alt="Chicago">
             </div>
             <div class="carousel-item">
               <img src="{% static 'images/gallery-agrotech-drawing.jpg' %}" alt="New York">
             </div>
           </div>

           <!-- Left and right controls -->
           <a class="carousel-control-prev" href="#demo" data-slide="prev">
             <span class="carousel-control-prev-icon"></span>
           </a>
           <a class="carousel-control-next" href="#demo" data-slide="next">
             <span class="carousel-control-next-icon"></span>
           </a>

          </div>
     </section>
   </div>

 </div>
</div>

<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Spatial Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal " id="form" action="{% url 'ajax_form' %}" method="get" >
          {% csrf_token %}
          <div class="input-group">
              <input class="form-control" type="text" name="position" value="36.95866, -0.39361" placeholder="Location">
          </div>
          <div class="input-group">
            <input class="form-control" type="text" name="distance" value="" placeholder="distance">
          </div>

          <div class="input-group">
            <input class="form-control" id="sq" type="Submit" name="buffer" value="Submit" placeholder="">
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="building_filter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Spatial Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal " id="form" action="{% url 'ajax_form' %}" method="get" >
          {% csrf_token %}
          <div class="input-group">
              <input class="form-control" type="text" name="position" value="36.95866, -0.39361" placeholder="Location">
          </div>
          <div class="input-group">
            <input class="form-control" type="text" name="distance" value="" placeholder="distance">
          </div>

          <div class="input-group">
            <input class="form-control" id="sq" type="Submit" name="buffer" value="Submit" placeholder="">
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="routing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Routing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal " id="form_route" action="">
          {% csrf_token %}
          <div class="input-group">
             <label for="">From</label>
              <input class="form-control" type="text" name="position" id="from" value="36.95866, -0.39361" placeholder="Location">
          </div>
          <div class="input-group">
            <label for="">To</label>
            <input class="form-control" type="text" name="distance" id="to" value="" placeholder="distance">
          </div>

          <div class="input-group">
            <input class="form-control" id="sq" type="Submit" name="buffer" value="Submit" placeholder="" hidden>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{{ data }}
{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/leaflet.label.js' %}"></script>
  <!-- <script src="https://cdn.osmbuildings.org/classic/0.2.2b/OSMBuildings-Leaflet.js"></script> -->
  <script type="text/javascript" src="{% static 'js/leaflet.ajax.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/leaflet-routing-machine.js' %}"></script>
  <script src="{% static 'js/Control.Geocoder.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/leaflet-search.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/leaflet-indoor.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/easy-button.js' %}"></script>
  <script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>
  <script src="{% static 'js/leaflet.awesome-markers.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
