{% extends "base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
<!-- The form -->

{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}

{% block content %}
<div class="container my-5 ">
  <div class="row">
    <div class="col-md-10">
    	<form class="form-horizontal card " method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
    		 {{ form  }}
    		<button type="submit" class="btn btn-success">Update</button>
    	</form>

    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .container -->
{% endblock %}
