<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story page</title>

    <!-- Styling used -->
    <link rel="stylesheet" href="css/leaflet.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/leaflet.label.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/leaflet-search.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/leaflet-routing-machine.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="js/src/leaflet.draw.css" media="screen" title="no title" charset="utf-8">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="head">
         <span><img src="" alt="" /></span>
         <h3>DEDAN KIMATHI UNIVERSITY <br>TOUR MAP</h3>
    </div>
    <!-- Comment Section -->
   <div class="container-fluid comment">
       <h3>COMMENTS AND CONTACTS</h3>

     <div class="row">

       <div class="col-md-8 col-xs-12">

        <form class="form-horizontal" role="form" action="media.php" method="post">
         <div class="row">

           <div class="col-md-6 col-sm-6 col-xs-12">
             <div class="form-group">
               <div class="col-sm-12">
                 <label class="control-label" for="name">NAME</label>
                 <input type="text" class="form-control" name="name" placeholder="Place name" required>
               </div>
             </div>

             <div class="form-group">
               <div class="col-sm-12">
                 <label class="control-label " for="email">IMAGE</label>
                 <input type="file" class="form-control" name="image" placeholder="Load in image" required>
               </div>
             </div>

             <div class="form-group">
               <div class="col-sm-12">
                 <label class="control-label" for="select">VIDEO</label>
                 <input type="file" class="form-control" name="video" placeholder="Load a video" required>
               </div>
             </div>
           </div>

           <div class="col-md-6 col-sm-6 col-xs-12">
             <div class="form-group">
               <label class="control-label" for="pwd">DESCRIPTION</label>
               <div class="col-sm-12">
                 <textarea class="form-control" rows="9" cols="25" name="description" required></textarea>
               </div>
               </div>
               <div class="form-group">
                 <div class="col-sm-offset-2 col-sm-10">
                   <button type="submit"  class="btn btn-skin pull-right">Submit</button>
                 </div>
               </div>

           </div>
         </div>
         </form>
       </div>

       <div class="col-md-4 col-xs-12 col-sm-6 contact">

       </div>
     </div>
    </div>

  </body>
</html>
