{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container card col-md-6 offset-2 mt-5">
		<form class=""  role="form" method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="text-center mb-4">Log In</legend>
				{{ form | crispy }}
			</fieldset>

			<div class="form-group">
				<button class="btn btn-info mt-2" type="submit">Login</button>
			</div>
		</form>

		<div class="border-top pt-3 mt-2">
			<small class="text-muted">
				 Need an Account ? <a href="{% url 'register' %}" class="ml-2">Sign Up Now</a>
			</small>
		</div>
	</div>
{% endblock %}
